*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Dashboadbox1 .card
{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container #inputSubmit
{
   height: 40px;
   margin-top: 30px;
}